<!DOCTYPE html>
<html>
<head>
  <title>Igopal</title>
  <%= stylesheet_link_tag  "application", "bootstrap", :media => "all" %>
  <%= javascript_include_tag "storyjs-embed","timeline", "bootstrap", "application" %>

</head>
<body>
<container>
    <div class="navbar">
	    <div class="navbar-inner">
	    <a class="brand" href="#">igopal</a>
		<ul class="nav">
			<li class = "active"><a  ><%=link_to "All Users", users_path%></a></li>
			<li class="active"><a class="nav"><%=link_to "All Achievements", achievements_path%></a>
			</li>

		</ul>
	    </div>
    </div>
</container>



<%= yield %>

</body>
</html>
