<!DOCTYPE html>
<html>
<head>
  <title>Igopal</title>
  <%= stylesheet_link_tag  "application", "bootstrap", :media => "all" %>
  <%= javascript_include_tag "jquery-1.8.2.min" "storyjs-embed","timeline", "bootstrap", "application" %>

</head>
<body background-color = "#005580">

    <div class="navbar" class = "navbar-static-top" class="container">
	    <div class="navbar-inner">
	    <a class="brand" href="#">igopal</a>
		<ul class="nav">
			<li class ="active" clas = "nav"><a><%=link_to "All Users", users_path%></a>
			</li>
			<li class="active" class = "nav"><a><%=link_to "All Achievements", achievements_path%></a>
			</li>

		</ul>
	    </div>
    </div>




<%= yield %>

</body>
</html>
